In [15]:
import mplfinance as mpf
import pandas as pd
daily = pd.read_csv("../csv_files/SBER.csv",index_col=0,parse_dates=True)
daily.index.name = 'Date'
daily.head(200)

,open,close,high,low,value,volume,end
Date,,,,,,,
2022-12-28,139.73,139.51,140.40,138.60,3.911971e+09,28045010.0,2022-12-28 23:59:59
2022-12-29,139.50,140.96,141.65,139.22,4.513089e+09,32059860.0,2022-12-29 23:59:59
2022-12-30,140.80,141.15,141.48,140.13,3.968971e+09,28175080.0,2022-12-30 23:59:59
2023-01-03,141.60,141.78,143.25,141.56,3.000248e+09,21098550.0,2023-01-03 23:59:59
2023-01-04,141.85,141.43,142.28,140.75,2.419429e+09,17112740.0,2023-01-04 23:59:59
...,...,...,...,...,...,...,...
2023-10-05,260.70,259.38,261.39,258.26,6.111705e+09,23501620.0,2023-10-05 23:59:59
2023-10-06,259.77,262.93,263.40,257.86,8.338547e+09,32001280.0,2023-10-06 23:59:59
2023-10-09,263.00,265.25,265.97,263.00,1.203676e+10,45447720.0,2023-10-09 23:59:59
2023-10-10,264.89,263.00,265.18,257.00,8.962447e+09,34001290.0,2023-10-10 23:59:59
2023-10-11,263.30,260.21,263.99,259.50,7.743001e+09,29495790.0,2023-10-11 23:59:59

TypeError: Expect data.index as DatetimeIndex